<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="InvestrositeEntities" connectionString="metadata=res://*/Database.Investrosite.csdl|res://*/Database.Investrosite.ssdl|res://*/Database.Investrosite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SOUROV-PC\SQLEXPRESS;initial catalog=Investrosite;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>